$trans: .4s ease-in-out

body
    min-width: 320px
    position: relative
    opacity: 1
    color: #5f6368
    overflow: hidden

a
    color: #5f6368

.btn
    font-size: 14px
    background-color: #f5f5f5
    transition: all $trans
    border: 1px solid transparent
    display: block
    max-width: 134px
    padding: 10px 14px
    cursor: pointer
    border-radius: 3px
    color: #5f6368
    &:hover
        color: #555555
        border-color: #555555

.btn-signin
    font-size: 14px
    font-weight: 600
    background-color: #4487fb
    color: #ffffff
    border-radius: 2px
    padding: 7px 13px
    text-decoration: none
    transition: background-color $trans
    cursor: pointer
    &:hover
        background-color: darken(#4487fb, 1%)

.btn-blue
    margin-top: 40px
    display: block
    color: #64abe9
    padding: 5px 15px
    text-align: center
    transition: background-color $trans
    border: 1px solid #dadce0
    &:hover
        background-color: #f6fafe

.wrapper
    height: 100vh
    width: 100%
    background-color: #ffffff
    #header
        .right-side
            display: flex
            align-items: center
            justify-content: flex-end
            padding: 15px 15px
            .menu
                list-style-type: none
                >li
                    display: inline-block
                    margin-right: 15px
                    >a
                        font-size: 14px
                        transition: border $trans
                        text-decoration: none
                        border-bottom: 1px solid transparent
                        &:hover
                            border-color: darken(#5f6368, 1%)
                    &:last-child
                        margin-right: 25px
            >.button
                opacity: .7
                transition: opacity $trans
                margin-right: 25px
                cursor: pointer
                >svg
                    width: 16px
                &:hover
                    opacity: 1
    #main-search
        max-width: 570px
        margin: 90px auto 0 auto
        >img
            margin: 0 auto
            display: flex
            justify-content: center
        >.input-field
            position: relative
            border-radius: 30px
            border: 1px solid #dfe1e5
            transition: box-shadow $trans
            display: flex
            align-items: center
            margin: 10px 0 30px
            &:hover, &:focus-within
                box-shadow: 0 3px 6px rgba(0, 0, 0, .1)
            #search-svg
                width: 20px
                height: 20px
                opacity: 0.3
                position: absolute
                left: 10px
            input
                width: 100%
                height: 100%
                padding: 12px 35px
                border-radius: 30px
                border: none
                font-size: 16px
                outline: none
            .voice-icon
                position: absolute
                right: 10px
                cursor: pointer
                svg
                    width: 25px
    .buttons
        display: flex
        align-items: center
        margin-bottom: 30px
        justify-content: center
        button:first-child
            margin-right: 15px
    .text
        font-size: 14px
        text-align: center
        >a
            color: #64abe9
            transition: border-color $trans
            border-bottom: 1px solid transparent
            text-decoration: none
            &:hover
                border-color: #4487fb
    #footer
        position: fixed
        bottom: 0
        left: 0
        width: 100%
        .line
            background-color: #f2f2f2
            width: 100%
            min-height: 40px
            height: auto
            border-top: 1px solid #e4e4e4
            display: -webkit-flex
            display: -ms-flex
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0 25px
            &:last-child
                margin-left: -35px
            .menu-footer
                list-style-type: none
                >li
                    display: inline-block
                    padding-right: 30px
                    // &:last-child
                    //     marin-right: 25px
                    >a
                        transition: border $trans
                        text-decoration: none
                        border-bottom: 1px solid transparent
                        &:hover
                            border-color: darken(#5f6368, 1%)
        .first-line
            justify-content: flex-start
            color: #939393

.services-window
    position: fixed
    top: 70px
    right: 25px
    width: 330px
    border-radius: 10px
    background-color: #fff
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    border: 1px solid transparent
    overflow-y: auto
    height: 400px
    .scroll
        margin: 5px 4px 5px 0
        overflow-y: auto
        height: 400px
        &::-webkit-scrollbar-track
            border-radius: 10px
            background-color: transparent
        &::-webkit-scrollbar
            width: 8px
            height: 8px
            border-radius: 10px
            background-color: #dadce0
        &::-webkit-scrollbar-thumb
            border-radius: 10px
            background-color: #dadce0
    .wrapper
        padding: 17px 0 20px 12px
        display: flex
        flex-wrap: wrap
        align-items: center
        >a
            display: block
            transition: background-color $trans
            border-radius: 8px
            padding: 5px
            margin: 0 5px
            text-decoration: none
            width: 24%
            img
                border-radius: 50%
                max-width: 60px
                margin: 0 auto
            img, p
                display: block
                text-align: center
            p
                margin-top: 4px
                font-size: 14px
                color: #222222

            &:hover
                background-color: #f5fafe

        